<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add
                name="TextWriterTraceListener"
                type="System.Diagnostics.TextWriterTraceListener"
                initializeData="c:\home\logfiles\diaglauncher.trace.log" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>