.resultsList .ms-GroupHeader {
  border-bottom: none !important;
}
.result-icon {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
  margin-right: 5px;
}
.result-icon-info {
  color: blue;
}

.result-icon-warning {
  color: #ffcc00;
}

.result-icon-error {
  color: red;
}

.icon-treeGridRow-expand {
  vertical-align: middle;
  margin-right: 5px;
}
.icon-treeGridRow-collapse {
  vertical-align: middle;
  margin-right: 5px;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  transition: transition 0.1s linear 0s;
}

body {
  background-color: #faf9f8;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
}
.pageTitle {
  margin: 40px;
}
.header {
  margin: 2em 0;
}

header h1 {
  font-weight: 600;
  margin: 0;
}

h2 {
  display: inline-block;
}

.modalContent {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.078);
  margin-bottom: 2em;
  border-radius: 0.5em;

  display: flex;
}

.content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.078);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
}

.resultCard {
  margin: 40px;
  padding: 10px;
  border-radius: 0.25em;

  display: flex;
}
.resultCard h2 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0px;
}

.resultCard .detailedResult {
  padding: 0px 20px 20px;
}
.resultCard .detailedResult .RegionHeader {
  font-size: 1.2em;
  margin-top: 1.5em;
}
.resultCard .result-icon {
  font-size: 1.3em;
  margin-right: 0.2em;
}

.RegionHeader {
  font-weight: 600;
  font-size: 14px;
}
.RegionContent {
  font-size: smaller;
}
.TextItem {
  display: block;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(96, 94, 92);
}
.TextContent {
}
.otherResultsList .ms-DetailsHeader-cellName {
  font-size: 1.34em;
}
.otherResultSeverity /*the span containing the result severity in OtherResults should have this class name */ {
  font-weight: 600;
  font-size: 1.34em;
}
.otherResultFinding /*class for the link in OtherResult.tsx*/ {
  font-weight: 400;
  font-size: 1.34em;
}
.ThreadLink {
  font-weight: 600;
  font-size: 0.875em;
  color: #d63384;
}
.SourceLink {
  font-weight: 600;
  font-size: 0.875em;
  color: #d63384;
}
.ClrObjectLink {
  font-weight: 600;
}
.ClrModuleLink {
}
.survey {
  margin: 2em 0 0 0;
  padding: 0.5em;
  background: #e0efff;
  border-radius: 0.25em;

  display: flex;
  align-items: center;
}
.survey label {
  flex-grow: 1;
  font-weight: 400;
}
.surveyButton {
  margin-left: 8px;
}
.ms-List-cell:hover {
  background: rgb(243, 242, 241);
}

/* Container */

.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
