<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <AllowedReferenceRelatedFileExtensions>.allowedextension</AllowedReferenceRelatedFileExtensions>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>bin\Release\PublishOutput</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <ClrProfilingAnalyzerFiles Include="..\CLRProfilingAnalyzer\bin\$(Configuration)\**\*.*" />
    <ClrProfilingCollectorFiles Include="..\ClrProfilingCollector\bin\x64\$(Configuration)\*.*" />
    <MemoryDumpCollectorFiles Include="..\MemoryDumpCollector\MemoryDumpCollector\bin\$(Configuration)\*.*" />
    <DiagnosticAnalysisLauncherFiles Include="..\DiagnosticAnalysisLauncher\bin\$(Configuration)\*.*" />
    <DiagnosticAnalysisFiles Include="..\DiagnosticAnalysisLauncher\bin\$(Configuration)\DiagnosticAnalysis\**\*.*" />
    <StdoutCollectorFiles Include="..\StdoutCollector\bin\$(Configuration)\*.*" />
    <JStackParserFiles Include="..\jStackParser\bin\$(Configuration)\**\*.*" />
    <StackTracer32Files Include="..\StackTracer32\bin\x86\$(Configuration)\**\*.*" />
    <StackTracer64Files Include="..\StackTracer64\bin\x64\$(Configuration)\**\*.*" />
    <DaasConsoleFiles Include="..\DaasConsole\bin\$(Configuration)\**\*.*" />
    <DaasRunnerFiles Include="..\DaasRunner\bin\x64\$(Configuration)\**\*.*" />
    <DiagnosticAnalysis_OneCore_x64Files Include="..\DiagnosticAnalysisLauncher\bin\$(Configuration)\DiagnosticAnalysis\DiagnosticAnalysis_OneCore_x64\**\*.*" />
  </ItemGroup>
  <Target Name="AdditionalFilesForPackage" AfterTargets="CopyAllFilesToSingleFolderForPackage">
    <Copy SourceFiles="@(ClrProfilingAnalyzerFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\clrprofiler\%(RecursiveDir)" />
    <Copy SourceFiles="@(ClrProfilingCollectorFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\clrprofiler" />
    <Copy SourceFiles="@(MemoryDumpCollectorFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools" />
    <Copy SourceFiles="@(DiagnosticAnalysisLauncherFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools" />
    <Copy SourceFiles="@(DiagnosticAnalysisFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\DiagnosticAnalysis\%(RecursiveDir)" />
    <Copy SourceFiles="@(StdoutCollectorFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools" />
    <Copy SourceFiles="@(JStackParserFiles)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\javatools\%(RecursiveDir)" />
    <Copy SourceFiles="@(StackTracer32Files)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\clrprofiler\stacktracer\%(RecursiveDir)" />
    <Copy SourceFiles="@(StackTracer64Files)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\clrprofiler\stacktracer\%(RecursiveDir)" />
    <Copy SourceFiles="@(DaasConsoleFiles)" DestinationFolder="$(_PackageTempDir)\bin" />
    <Copy SourceFiles="@(DaasRunnerFiles)" DestinationFolder="$(_PackageTempDir)\bin" />
    <Copy SourceFiles="@(DiagnosticAnalysis_OneCore_x64Files)" DestinationFolder="$(_PackageTempDir)\bin\DiagnosticTools\DiagnosticAnalysis\DiagnosticAnalysis_OneCore_x64\%(RecursiveDir)" />
  </Target>
</Project>